:root {
    --primary: #004aad;
    --primary-light: #1670bc;
    --primary-dark: #134aa7;
    --white: #ffffff;
    --light-blue: #5bdfe4;
    --green: #7ed956;
    --mid-green: #3e9082;
    --footer: #050d1a;
}

.lp-wrapper {
    width: 100%;
}

/***************************************************************************************************************************************/

.lp-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    height: 60px;
    padding: 0 1% 0 2%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.lp-scrolled {
    background-color: var(--primary);
}

.lp-nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
}

.lp-nav-logo {
    height: 40px;
    margin-right: 12px;
}

.lp-nav-logo:hover {
    cursor: pointer;
}

.lp-nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lp-nav-btn {
    margin-right: 24px;
    font-size: larger;
    color: var(--white);
    background-color: transparent;
    padding: 0;
    border: 2px solid transparent;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
}

.lp-nav-btn:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--white);
}

/***************************************************************************************************************************************/

.lp-block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, var(--light-blue) 0%, var(--primary) 100%);
}

.wwd-block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, var(--primary) 0%, var(--green) 100%);
}

.lp-block1-title {
    max-width: 90%;
    color: var(--white);
    text-align: center;
    font-size: 400%;
    margin-bottom: 0;
}

.lp-block1-subtitle, .wwd-block1-subtitle {
    max-width: 70%;
    color: var(--white);
    text-align: center;
    font-size: x-large;
    font-weight: normal;
}

.lp-cta {
    height: 64px;
    min-width: 220px;
    margin-top: 80px;
    border: 3px solid var(--white);
    font-size: x-large;
    color: var(--white);
    background-color: transparent;
    transition: background-color 1.2s ease, color 1s ease;
}

.lp-cta:hover {
    cursor: pointer;
    background-color: var(--white);
    color: black;
}

/***************************************************************************************************************************************/

.lp-img-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    min-height: fit-content;
    width: 70%;
    padding: 16px 15%;
    background-color: var(--white);
}

.lp-reverse-display{
    flex-direction: row-reverse;
}

.lp-img-block-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    min-height: fit-content;
    width: 45%;
}

.lp-img-wrapper {
    height: 75%;
    width: 50%;
}

.lp-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.lp-img-block-title {
    width: 100%;
    font-size: x-large;
    color: #2c5282;
    text-align: left;
    margin-bottom: 0;
}

.lp-text-blue {
    width: 100%;
    color: #4a5568;
    text-align: left;
    font-size: larger;
}

.right-align {
    text-align: right;
}

/***************************************************************************************************************************************/

.lp-card-block {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 64px 15%;
    background-color: var(--primary);
}

.lp-cards-wrapper {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.lp-card {
    min-height: 180px;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    flex: 0 1 300px;
    display: flex;
    flex-direction: column; /* enables stretching */
    justify-content: flex-start;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lp-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.lp-card-title {
    font-size: x-large;
    color: #2c5282;
    margin-bottom: 16px;
}

.lp-card-text {
    font-size: large;
    color: #4a5568;
    line-height: 1.6;
}

/***************************************************************************************************************************************/

.wwd-block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    min-height: fit-content;
    width: 94%;
    padding: 3%;
    background-color: var(--primary);
}

.wwd-block3-title {
    text-align: center;
    font-size: xx-large;
    color: var(--white);
    margin-bottom: 16px;
}

.wwd-block3-text {
    text-align: center;
    font-size: larger;
    color: var(--white);
    margin-bottom: 16px;
}

/***************************************************************************************************************************************/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background-color: var(--footer);
}

.footer-text {
    margin: 24px auto;
    color: var(--white);
}

/***************************************************************************************************************************************/

@media screen and (max-width: 520px) {
    .lp-nav-logo {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    .lp-cta {
        margin-top: 24px;
    }
    .wwd-block1-subtitle {
        font-size: larger;
    }
    .lp-img-block{
        flex-direction: column;
        min-height: fit-content;
        width: 90%;
        padding: 5vh 5%;
    }
    .lp-img-block-content-wrapper {
        justify-content: center;
        height: fit-content;
        width: 100%;
        margin-bottom: 4vh;
    }
    .lp-img-block-title, .lp-text-blue {
        text-align: center;
    }
    .lp-img-wrapper {
        height: 50vh;
        width: 100%;
    }
    .footer {
        padding-bottom: 64px;
    }
}

@media (max-aspect-ratio: 1/1) {
    /* Styles for screens where width is less than height */
    .wwd-block1-subtitle {
        font-size: larger;
    }
    .lp-img-block{
        flex-direction: column;
        min-height: fit-content;
        width: 90%;
        padding: 5vh 5%;
    }
    .lp-img-block-content-wrapper {
        justify-content: center;
        height: fit-content;
        width: 100%;
        margin-bottom: 4vh;
    }
    .lp-img-block-title, .lp-text-blue {
        text-align: center;
    }
    .lp-img-wrapper {
        height: 50vh;
        width: 100%;
    }
    .footer {
        padding-bottom: 64px;
    }
}
