@font-face {
  font-family: 'League Spartan';
  src: url('./assets/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
  font-style: normal;
}

body, button, input, select, textarea {
  font-family: 'League Spartan', serif;
}

body {
  margin: 0;
  padding: 0;
}
